body, select, input, button, textarea {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #e9eaea;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

input[type="submit"] {
  background: transparent url("../../images/button.png") no-repeat;
  width: 191px;
  height: 30px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-position: 0 -30px;
}

input[type="submit"]:active {
  background-position: 0 -60px;
}

.jayz {
  width: 840px;
  margin: auto;
}

.header {
  height: 80px;
  background-color: #0082bc;
  margin-bottom: 40px;
}

.header .jayz {
  background: transparent url("../../images/stLogo.png") no-repeat 0 18px;
  height: 80px;
}

.header h1 {
  display: none;
}

.header .login {
  float: right;
  margin-top: 25px;
}

.static-welcome h2 {
  margin-bottom: 6px;
}

.static-welcome p {
  margin-bottom: 32px;
}

#letter {
  float: right;
  margin: -50px 0 0 20px;
}

#beta_signup_email {
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  border: 1px solid black;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 350px;
}

#beta_signup_email.default {
  color: #666;
  font-weight: normal;
}

p.success-message, .error-messages {
  width: 500px;
  margin-bottom: 10px;
}

.error-messages {
  width: 480px;
  padding: 10px 10px 5px 10px;
  background: #fff;
  border: 1px solid #f33;
}

.error-messages li {
  margin-bottom: 5px;
}
