body, select, input, button, textarea {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #e9eaea;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

.jayz {
  width: 800px;
  margin: auto;
}

.header {
  height: 80px;
  background-color: #0082bc;
  margin-bottom: 40px;
}

.header .jayz {
  background: transparent url("../images/stLogo.png") no-repeat 0 18px;
  height: 80px;
}

.header h1 {
  display: none;
}

.header .login {
  position: relative;
  float: right;
  top: 30px;
  right: 0px;
}

.static-welcome h2 {
  margin-bottom: 15px;
}

.static-welcome p {
  margin-bottom: 40px;
}

#letter {
  float: right;
  margin-top: -77px;
}
