body, select, input, button, textarea {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #e9eaea;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.jayz {
  width: 840px;
  margin: auto;
}

.header {
  height: 80px;
  background-color: #0082bc;
  margin-bottom: 40px;
}

.header .jayz {
  background: transparent url("../images/stLogo.png") no-repeat 0 18px;
  height: 80px;
}

.header h1 {
  display: none;
}

.header .login {
  position: relative;
  float: right;
  top: 30px;
  right: 0px;
}

.static-welcome h2 {
  margin-bottom: 6px;
}

.static-welcome p {
  margin-bottom: 32px;
}

#letter {
  float: right;
  margin: -77px 0 0 20px;
}

#signup_request_email {
  font-size: 18px;
  height: 38px;
  border: 1px solid black;
  padding: 0 10px;
  margin-bottom: 10px;
}
