<h1>Thank You!</h1>

<p>You are the kind of person that makes the Internet rock. Soon, you'll be
using Dropbox to deploy static websites like a champ. We totally can't
wait.</p>

<p>Unfortunately, Dropbox currently has a moratorium on any new websites using
their API. So we (and you) are going to have to wait until they're ready. As
soon as they give us the OK, we'll email you with an invite code.</p>

<p><%= link_to "Click here", root_path %> to return to the
site and admire our sweet graphics.</p>
